/*.spring {
    color: green;
  }

 p {
    font-weight: bold;
    font-size: 20px;    
 }

 h2 {
     font-size: 30px;
 } */

.jumbotron {
     text-align: center;
     color:  rgb(153, 5, 30);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background-color: pink !important;
     margin: 0px;
 }

 .jumbotron h1 {
     font-size: 100px;
 }

#names {
     font-size: 20px;
     color: black;
     font-weight: 50;
     text-align: center;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-transform: capitalize;
     line-height: 50%;
 }

.nameColor {
     color: rgb(148, 40, 58);
     font-size: 25px;
 }

.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    background-color: white;
 }

.zoom:hover {
    transform: scale(1.2);
  }

.chat {
    font-size: 15px;
    font-weight: bold;
}

.fa-comments {
    margin: 10px;
}

.bg-victoria {
    background-color: lightcoral;
}

.nav-item {
    text-transform: capitalize;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
 }

 navbar {
     margin: 0px;
 }